
LAB2/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/0b937634-613a-4065-8481-69c73fbfd2f7.vsidx
LAB2/baitap/.vs/baitap/FileContentIndex/c5e8d1c8-b630-4e0c-988a-b5c39daf9f46.vsidx
LAB3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/4a9e2761-dfe9-4fec-943f-e58f9331de16.vsidx
LAB3/ConsoleApp2/obj/Debug/ConsoleApp2.csproj.AssemblyReference.cache
LAB3/ConsoleApp2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB3/ConsoleApp2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LAB3/ConsoleApp2/Program.cs
LAB3/ConsoleApp2/.vs/ConsoleApp2/v17/.suo
LAB2/ConsoleApp3/.vs/ConsoleApp3/FileContentIndex/67909a30-51b7-490e-a340-2312a6582afa.vsidx
LAB3/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/76083e35-1996-46d4-bd23-01ed4faa0bca.vsidx
LAB3/ConsoleApp3/.vs/ConsoleApp3/FileContentIndex/b0d4bc40-1e9f-481d-9a2d-866e3ad4b8c1.vsidx
LAB3/ConsoleApp4/.vs/ConsoleApp4/FileContentIndex/901081a8-b115-430a-a5b7-7e9b6fca9ab8.vsidx
LAB4/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB4/ConsoleApp2/ConsoleApp2/App.config
LAB4/ConsoleApp2/ConsoleApp2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB4/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/7ff396db-5301-426e-b531-24791555608e.vsidx
LAB4/bai tap 1/bai tap 1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB4/bai tap 2/bai tap 2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LAB4/bai tap 1/.vs/bai tap 1/FileContentIndex/10b7b314-9e51-492b-b688-3fc3b29c15a4.vsidx
LAB4/bai tap 2/.vs/bai tap 2/FileContentIndex/dbaeb62f-39ee-41ff-bfc2-17ba52024f4b.vsidx
SEMI_FINAL/FireBase Project/packages/System.ValueTuple.4.5.0/THIRD-PARTY-NOTICES.TXT
SEMI_FINAL/FireBase Project/.vs/ConsoleApp1/FileContentIndex/daf491de-f467-44ef-8526-4bc31b4877ac.vsidx
SEMI_FINAL/FireBase Project/.vs/ConsoleApp1/FileContentIndex/11212d52-6d44-4882-ab6a-e22f48e37a61.vsidx
SEMI_FINAL/FireBase Project/.vs/ConsoleApp1/FileContentIndex/7c693837-eff1-443e-b151-88f87a39d73f.vsidx
SEMI_FINAL/FireBase Project/.vs/ConsoleApp1/FileContentIndex/89755051-c83c-4571-9632-e01dffc201a9.vsidx
SEMI_FINAL/FireBase Project/.vs/ConsoleApp1/FileContentIndex/c4d6fcdf-c9fe-4951-80ed-74a10cba79bc.vsidx
LAB 10/bai tap 2/bai tap 2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB 10/baitap 1/baitap 1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB 10/ConsoleApp1/ConsoleApp1/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
