
LAB2/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/0b937634-613a-4065-8481-69c73fbfd2f7.vsidx
LAB2/baitap/.vs/baitap/FileContentIndex/c5e8d1c8-b630-4e0c-988a-b5c39daf9f46.vsidx
LAB3/ConsoleApp1/.vs/ConsoleApp1/FileContentIndex/4a9e2761-dfe9-4fec-943f-e58f9331de16.vsidx
LAB3/ConsoleApp2/obj/Debug/ConsoleApp2.csproj.AssemblyReference.cache
LAB3/ConsoleApp2/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
LAB3/ConsoleApp2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
LAB3/ConsoleApp2/Program.cs
LAB3/ConsoleApp2/.vs/ConsoleApp2/v17/.suo
LAB2/ConsoleApp3/.vs/ConsoleApp3/FileContentIndex/67909a30-51b7-490e-a340-2312a6582afa.vsidx
LAB3/ConsoleApp2/.vs/ConsoleApp2/FileContentIndex/76083e35-1996-46d4-bd23-01ed4faa0bca.vsidx
LAB3/ConsoleApp3/.vs/ConsoleApp3/FileContentIndex/b0d4bc40-1e9f-481d-9a2d-866e3ad4b8c1.vsidx
